/* common style sheets */
html {
  font-size: 100%;
  -ms-touch-action: none; /* disable system touch action. */
}

body {
  margin: 0;
  font: 14px/20px 'Segoe UI Light', Arial, sans-serif;
  color: #333333;
  background-color: #ffffff;
}

a {
  color: #0088cc;
}

h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
  font-family: inherit;
  font-weight: bold;
  line-height: 20px;
  color: inherit;
  text-rendering: optimizelegibility;
}

hr {
  margin: 20px 0;
  border: 0;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #ffffff;
}

#content {
  display: -ms-grid;
  -ms-grid-columns: 650px 1fr;
  -ms-grid-rows: 1fr;
}

  #content #demozone {
    -ms-grid-column: 1;
  }

  #content #console {
    -ms-grid-column: 2;
  }

    #content #console .value {
      color: #009900;
      font-weight: bold;
    }

.container {
  width: 960px;
  margin: 0 auto;
}

